@font-face {
    font-family: "Gilroy-Light";
    src: url(../fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy-Bold.ttf);
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
    margin: 0;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

body::-webkit-scrollbar-thumb {
    background-color: #41559B;
    border-radius: 7px;
}
html {
    scroll-behavior: smooth;
}

* {
    font-family: "Gilroy-Regular";
    box-sizing: border-box;
    color: #363036;
}

#root>div {position: relative;}

a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
    font-family: "Gilroy-Light";
}
.light {
    font-family: "Gilroy-Light";
}
.regular {
    font-family: "Gilroy-Regular";
}
.medium {
    font-family: "Gilroy-Medium";
}
.bold {
    font-family: "Gilroy-Bold";
}
.btn {
    display: flex;
    background-color: #41559B;
    color: #fff;
    width: 300px;
    height: 60px;
    border: 0;
    font-size: 16px;
    font-family: "Gilroy-Medium";
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(52, 52, 52, 0.25);
    outline: none;
    cursor: pointer;
    transition: box-shadow .3s;
    justify-content: center;
    align-items: center;
    position: relative;

    &:disabled, &:disabled:hover {
        box-shadow: none;
        background-color: #f2f2f2;
        color: #f2f2f2;
        
        &::after {
            content: "";
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 5px solid rgba(0,0,0, 0.05);
            border-right: 5px solid rgba(0,0,0, 0.05);
            border-bottom: 5px solid #41559B;
            border-left: 5px solid #41559B;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
            position: absolute;
            left: calc(50% - 15px);
        }
    }

    &:hover {
        box-shadow: 0px 4px 8px rgba(52, 52, 52, 0.5);
    }

    &:focus {
        box-shadow: 0px 4px 8px rgba(52, 52, 52, 0.25), inset 0px 4px 8px rgba(52, 52, 52, 0.25);
    }

    &[type-btn=ghost] {
        background-color: #fff;
        color: #41559B;
        border: 2px solid #41559B;
        box-shadow: none;
        transition: color .3s, background-color .3s;

        &:hover {
            background-color: #41559B;
            color: #fff;
        }
    }
}

.modal {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 1001;
    transform: translate(-50%, -50%) scaleX(.8) scaleY(.8);
    transition: top .3s, opacity .3s, transform .3s;
    opacity: 0;

    &.active {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%) scaleX(1) scaleY(1);
    }
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity .3s;
    cursor: pointer;
    background-color: rgba(100,100,100,.05);
    backdrop-filter: blur(8px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &.active {
        opacity: 1;
    }
}

.select-field {
    width: 100%;
    position: relative;

    &.active {
        .select-field__header {
            border: 1px solid #41559B;
            background-color: #fff;

            &::after { transform: rotate(180deg); }
        }
        .select-field__body {
            max-height: 352px;
        }
    }

    &__header {
        background-color: #f2f2f2;
        border-radius: 10px;
        height: 50px;
        color: #bdbdbd;
        font-size: 14px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #f2f2f2;
        position: relative;

        &::after {
            content: "";
            display: block;
            top: 20px;
            right: 20px;
            position: absolute;
            width: 18px;
            height: 10px;
            transition: transform .3s;;
            background: url(../imgs/icons/grey-arrow-down.svg) 0 0 / contain no-repeat;
        }
    }

    &__body {
        max-height: 0px;
        transition: max-height .3s;
        padding: 0px 25px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 4px 12px rgba(197, 197, 197, 0.25);
        position: absolute;
        top: 60px;
        overflow: hidden;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 10;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            margin-top: 30px;
            margin-bottom: 40px;

            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background-color: #f2f2f2;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: #41559B;
            }
        }

        &_item {
            font-size: 14px;
            line-height: 160%;
            font-family: "Gilroy-Medium";
            padding: 15px 0;
            border-bottom: 1px solid #f2f2f2;
            margin-right: 25px;
            
            &:first-of-type {padding-top: 0;}
            &:last-of-type { border: 0; padding-bottom: 0; }
        }

        
    }
}

input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    color: #363036;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;

    &::placeholder {
        color: #bdbdbd;
        font-size: 14px;
        font-family: "Gilroy-Medium";
    }

    &:focus {
        background-color: #fff;
        border: 1px solid #41559B;
    }
}

textarea {
    padding-top: 15px;
    min-height: 150px;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 72px;
    background-color: #F5F5F6;
    border-bottom: 1px solid #363036;
    align-items: center;
    padding: 17px 20px;
    z-index: 20;

    .work-time, .call-me span, .number {
        display: none;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: "";
            display: block;
            width: 130px;
            height: 55px;
            background: url(../imgs/icons/logo.svg) 0 0 no-repeat;
            background-size: contain;
        }

        &.active {
            color: #fff;
            z-index: 5;

            &::before {
                background-image: url(../imgs/icons/white-logo.svg);
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        transition: top .3s;
        margin: 0;
        background-color: #363036;
        top: -100vh;
        left: 0;
        list-style: none;
        height: 100vh;
        width: 100%;
        padding: 127px 0 0 0;
        align-items: center;

        &.active {
            top: 0;

            .contacts {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;

                p {
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px; 
                    margin: 25px 0 5px 0;  
                }
                span {
                    color: #fff;
                    font-size: 13px;
                    font-family: "Gilroy-Light";
                    text-align: center;
                    margin-bottom: 5px;
                    line-height: 20px;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 227px;
                    height: 1px;
                    background-color: #fff;
                }
            }
        }

        li {
            margin-bottom: 40px;
            a {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .contacts {
            display: none;
        }
    }

    .call-me {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #41559B url(../imgs/icons/white-phone.svg) 50% 50% no-repeat;
        background-size: 25px 25px;
        margin-left: auto;
        font-weight: bold;
    }

    .menu.active ~ .burger {
        background: none;
        width: 26px;
        height: 26px;
        position: relative;

        &::after, &::before {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            width: 2px;
            height: 29px;
            background-color: #fff;
        }

        &::after {
            transform: rotate(45deg);
        }

        &::before {
            transform: rotate(-45deg);
        }
    }

    .burger {
        width: 28px;
        height: 20px;
        background: url(../imgs/icons/burger.svg) 0 0 no-repeat;
        background-size: contain;
        margin-left: 30px;
        z-index: 5;
    }
}

.main-block {
    padding: 102px 20px 30px 20px;
    position: relative;
    background: url(../imgs/mobile/mainblock-background.jpg) 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 15;

    .content {
        h1 {
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 50px;
    
            span {
                background-color: #41559B;
                color: #fff;
                font-weight: 600;
                padding: 2px 3px;
            }
        }
        .descr {  display: none; }
    
        .for-swap {
            .services {
                display: flex;
                flex-direction: column;
    
                .service {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 35px;
    
                    i {
                        display: block;
                        width: 22px;
                        height: 22px;
                        margin-right: 15px;
                        margin-top: 5px;
    
                        &.wrench {
                            background: url(../imgs/icons/wrench.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                        &.official-guarantee {
                            background: url(../imgs/icons/official-guarantee.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                        &.departure {
                            background: url(../imgs/icons/departure.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                        &.cracked-glass {
                            background: url(../imgs/icons/cracked-glass.svg) 0 0 no-repeat;
                            background-size: contain;
                        }
                    }
    
                    div {
                        display: flex;
                        flex-direction: column;
                        max-width: 150px;
    
                        p {
                            margin: 0;
                            line-height: 24px;
                        }
                    }
                }
            }
            .btn {
                margin: 0 auto;
            }
        }
    }

    .img {
        position: absolute;
        width: 450px;
        height: 320px;
        top: 190px;
        left: 170px;
        $img_pages: washer, dishwasher, refrigerator, oven, hob, other;

        &.main {
            background: url(../imgs/desktop/mainblock.png) 0 0 no-repeat;
            background-size: contain;
        }

        @each $img in $img_pages {
            &.#{$img} {
                background: url(../imgs/desktop/mainblock_#{$img}.png) 0 0 no-repeat;
                background-size: contain;
            }
        }        
    }
}

.our-services {
    margin-top: -72px;
    padding: 87px 20px 30px 20px;
    background-color: #f9f9f9;
    z-index: 14;

    h1 { margin-bottom: 25px; }
    .cards {
        display: flex;
        flex-direction: row;
        margin: 0 -4.5px;
        flex-wrap: wrap;

        .card {
            background: #FFFFFF;
            box-shadow: 0px 7px 15px rgba(164, 164, 164, 0.15);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 105px;
            margin: 0 4.5px 9px 4.5px;
            width: calc(50% - 9px);
            transition: box-shadow .3s;

            &:hover {
                box-shadow: 0px 7px 15px rgba(164, 164, 164, 0.5);
            }

            p {
                margin: 0;
                max-width: 106px;
                text-align: center;
            }

            i {
                width: 25px;
                height: 30px;
                margin-bottom: 10px;
            }

            &:nth-child(1) i {
                background: url(../imgs/icons/washer.svg) 0 0 no-repeat;
                background-size: contain;
            }
            &:nth-child(2) i {
                background: url(../imgs/icons/dishwasher.png) 0 0 no-repeat;
                background-size: contain;
            }
            &:nth-child(3) i {
                background: url(../imgs/icons/refrigerator.png) 0 0 no-repeat;
                background-size: contain;
            }
            &:nth-child(4) i {
                background: url(../imgs/icons/oven.svg) 0 0 no-repeat;
                background-size: contain;
            }
            &:nth-child(5) i {
                background: url(../imgs/icons/hob.svg) 0 0 no-repeat;
                background-size: contain;
            }
            &:nth-child(6) i {
                background: url(../imgs/icons/other.svg) 0 0 no-repeat;
                background-size: contain;
            }
        }
    }
}

.price-list {
    padding: 108px 20px 30px;
    margin-top: -72px;
    z-index: 13;
    background-color: #fff;

    h1 { margin: 0 0 30px 0; }
    .list {
        padding: 0 20px;
        .price-list-item {
            margin-bottom: 30px;

            h2 { margin: 0 0 20px 0; }
            .cells {
                .cell {
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid #f2f2f2;
                    padding: 15px 0;
                    justify-content: space-between;
                    align-items: center;

                    p { font-family: "Gilroy-Regular"; max-width: 205px; margin: 0; }
                    span {
                        color: #41559B;
                        font-size: 14px;
                        font-family: "Gilroy-Regular";
                    }

                    &:last-child {
                        border: 0;
                    }
                }
            }

            a {
                display: block;
                color: #41559B;
                font-size: 14px;
                margin: 37px auto 0 auto;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .alice-carousel__dots {
            margin: 0;

            .alice-carousel__dots-item {
                background-color: #e0e0e0e0;

                &.__active {
                    background-color: #41559B;
                }
            }
        }

        .alice-carousel__prev-btn, .alice-carousel__next-btn {
            display: none;
        }
    }
}

.about-us {
    margin-top: -72px;
    background-color: rgb(250, 250, 250);
    padding: 102px 20px 30px;
    z-index: 12;

    h1 { margin: 0 0 30px 0; }
    p { margin: 0 0 25px 0; line-height: 24px; }


    .for-swap {
        .gallery {
            margin: 0 -20px;
            .img {
                width: 100%;

                @media only screen and (min-width: 768px) {
                    width: 547px;
                }

                height: 250px;
                object-fit: cover;

                &.first {
                    background: url(../imgs/desktop/about-company-1.jpg) 0 0 no-repeat;
                    background-size: cover;
                }
                &.second {
                    background: url(../imgs/desktop/about-company-2.jpg) 0 0 no-repeat;
                    background-size: cover;
                }
                &.third {
                    background: url(../imgs/desktop/about-company-3.jpg) 0 0 no-repeat;
                    background-size: cover;
                }
            }

            .alice-carousel__dots {
                margin: 25px 0 0 0;
    
                .alice-carousel__dots-item {
                    background-color: #e0e0e0e0;
    
                    &.__active {
                        background-color: #41559B;
                    }
                }
            }
    
            .alice-carousel__prev-btn, .alice-carousel__next-btn {
                display: none;
            }
        }
    }

    .virtues {
        margin-top: 40px;
        
        &__item {
            margin-bottom: 30px;
            position: relative;

            h3 { margin: 0 0 15px 50px }
            p { margin: 0 0 0 50px; }
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 34px;
                height: 34px;
                top: 0;
                left: 0;
            }

            &.qualified-specialists::before {
                background: url(../imgs/icons/qualified-specialists.svg) 0 0 no-repeat;
                background-size: contain;
            }
            &.repair-models::before {
                background: url(../imgs/icons/repair-models.svg) 0 0 no-repeat;
                background-size: contain;
            }
            &.warehouse::before {
                background: url(../imgs/icons/warehouse.svg) 0 0 no-repeat;
                background-size: contain;
            }

            &:last-child { margin: 0; }
        }
    }
}

.brands {
    padding: 30px 20px;
    background-color: #fff;
    z-index: 11;
    $brands: aeg, asko, beko, blomberg, bosch, brandt, candy, daewoo, delonghi,
    electrolux, elenberg-1, eurolux, fagor, flavia, gaggenau, general-electric, 
    gorenje, haier, hansa, hoover, hotpoint-ariston, ikea, indesit, kaiser,
    korting, krona, kuppersberg, kuppersbusch, lg, mach, miele, neff, samsung,
    sharp, siemens-1, smeg, vestel, vestfrost, whirlpool, zanussi, zerowatt, zigmund;

    h1 {margin: 0 0 30px 0;}

    &__list {
        .simple-list {display: none;}
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__item {
            width: 33.33%;
            height: 15px;
            margin: 10px 0;

            @each $brand in $brands {
                &.#{$brand} {
                    background: url(../imgs/brands/#{$brand}.png) 50% 50% no-repeat;
                    background-size: contain;
                }
            }
            &.lex {
                background: url(../imgs/brands/lex.svg) 50% 50% no-repeat;
                background-size: contain;
            }
        }

        .alice-carousel__dots {
            margin: 25px 0 0 0;
            display: flex;
            flex-direction: row;

            .alice-carousel__dots-item {
                background-color: #e0e0e0e0;
                margin: 0;
                border-radius: 0;
                flex-grow: 1;
                height: 4px;

                &.__active {
                    background-color: #41559B;
                }
            }
        }

        .alice-carousel__prev-btn, .alice-carousel__next-btn {
            display: none;
        }
    }
}

.reviews {
    background-color: #f9f9f9;
    padding: 102px 20px 30px;
    margin-top: -72px;

    h1 { 
        margin: 0 0 30px 0; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: rgba(0,0,0,0);

            &::before {
                content: "+";
                color: #41559B;
                font-size: 36px;
                line-height: 42px;
                font-weight: 500;
                font-family: "Gilroy-Light";
            }
            &:hover &::before {color: #fff;}

            span {display: none;}
        }
    }

    &__list {
        margin: -15px -15px 0 -15px;
        &__item {
            background: #FFFFFF;
            box-shadow: 0px 7px 15px rgba(164, 164, 164, 0.15);
            border-radius: 10px;
            padding: 20px 18px;
            min-height: 300px;
            margin: 15px;

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h3 { 
                    margin: 0;
                    span { font-size: 14px; }
                }
                .date { font-size: 14px; color: #707070; }
            }

            p { line-height: 24px; margin: 20px 0 0 0; }
        }

        .alice-carousel {
            padding-bottom: 70px;
            &::after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }

    .alice-carousel__dots {
        display: none;
    }

    .alice-carousel__prev-btn, .alice-carousel__next-btn {
        width: 76px;
        height: 50px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background-color: #41559B;
        margin-top: 20px;
        position: absolute;
        bottom: 0;
        right: 15px;

        &-wrapper {
            width: 15px;
            height: 20px;
            margin: auto;
        }
        &-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            span::after { content: "" }
        }
    }
    .alice-carousel__prev-btn {
        right: 101px;
    }
    .alice-carousel__prev-btn-wrapper {
        background: url(../imgs/icons/white-arrow-left.svg) 0 50% no-repeat;
    }
    .alice-carousel__next-btn-wrapper {
        background: url(../imgs/icons/white-arrow-right.svg) 0 50% no-repeat;
    }
}

.questionare {
    .header {
        width: 100%;
        background: url(../imgs/mobile/questionare-background.png) 0 0 no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 22px;
        padding-bottom: 30px;

        h2 {
            color: #fff;
            text-transform: uppercase;
            max-width: 60%;
            text-align: center;
        }
        .q_num {
            width: 57px;
            height: 57px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0px 7px 15px rgba(164, 164, 164, 0.15);
            position: absolute;
            bottom: -29px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #41559B;
            font-family: "Gilroy-Bold";
            font-size: 24px;
            left: calc(50% - 29px);
        }
    }
    .answers {
        padding: 59px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        textarea {
            max-width: 300px;
            margin-bottom: 20px;
            height: 100px;
            padding-top: 10px;
        }

        button {
            margin-bottom: 20px;
            &:last-child { margin: 0; }
        }
    }
}

.contact-us-form {
    background-color: #f9f9f9;
    padding: 30px 20px 50px 20px;

    .card-container {
        .form {
            h1 { margin: 0 0 25px 0; }
            p { margin: 0 0 30px 0; }

            .fields {
                margin-bottom: 15px;

                .wrapper {
                    position: relative;

                    input {
                        margin-bottom: 15px;
                    }

                    span {
                        display: block;
                        position: absolute;
                        left: 20px;
                        bottom: 15px;
                        color: #db0000;
                        font-size: 12px;
                    }
                    &.error input, &.error textarea {
                        border-color: #db0000;
                        margin-bottom: 35px;
                    }
                }
            }

            .actions {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;

                p {
                    text-align: center;
                    line-height: 16px;
                    margin: 0 0 30px 0;
                    a { text-decoration: underline; }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 105px;
    background-color: #41559B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-size: 12px;

        &::before {
            content: "";
            display: block;
            width: 94px;
            height: 42px;
            background: url(../imgs/icons/white-logo.svg) 0 0 no-repeat;
            background-size: contain;
            margin-bottom: 5px;
        }
    }

    .information {
        p {
            color: #fff;
            font-size: 12px;

            &:first-child {
                display: none;
                span {
                    font-size: 11px;
                    font-family: "Gilroy-Light";
                }
            }
            
            span {
                color: #fff;
                font-size: 16px;
                font-family: "Gilroy-Medium";
            }
        }
        
    }
}

.privacy-text {
    padding: 102px 20px 30px;
    max-width: 768px;
    margin: 0 auto;
}

.phone-fixed-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #41559B;
    border-radius: 50%;
    z-index: 1000;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(52, 52, 52, 0.25);

    &::after {
        content: "";
        width: 30px;
        height: 30px;
        display: block;
        background: url(../imgs/icons/white-phone.svg) 0 0 no-repeat;
        transform: rotateY(180deg);
        background-size: contain;
    }
}

@mixin price-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;

    &:last-of-type { border: 0; }

    p { max-width: 205px; margin: 0; }
    span { font-size: 14px; color: #41559B; }
}

.what-problem {
    margin-top: -72px;
    padding: 102px 20px 30px;
    background-color: #f9f9f9;
    z-index: 14;

    h1 {margin: 0 0 25px;}

    .problems {
        $problem_icons: switch-off, flow, noise, without-water, without-rotate, 
                        not-freeze, freezes, doesnt-heat-water, knock-corks, water,
                        bad-wash, not-dry, only-freezer, ice-covered, not-freeze-upper-section,
                        electric-shock, doesnt-work-burner, oven-doesnt-heat, timer-doesnt-work,
                        oven-doesnt-close, switcher-broken, burner-bad-heat, mm-doesnt-work,
                        sensor-doesnt-work, plate-gives-error, light-off, cracked-surface, cracked-glass;

        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 30px;
            margin-top: 0;

            li {
                background-color: #fff;
                box-shadow: 0px 7px 15px rgba(164, 164, 164, 0.15);
                border-radius: 5px;
                margin-bottom: 10px;
                &:last-child { margin: 0; }
            }
        }
        &__header {
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;

            &.active::after {
                transform: rotate(0deg);
            }

            &::after, &::before {
                content: "";
                display: block;
                margin: 0 20px;
            }
            &::before {
                width: 18px;
                height: 25px;
            }
            &::after {
                width: 18px;
                height: 10px;
                background: url(../imgs/icons/blue-arrow-up.svg) 0 0 no-repeat;
                background-size: contain;
                margin-left: auto;
                transform: rotate(180deg);
                transition: transform .3s;
            }
            @each $icon in $problem_icons {
                &.#{$icon}::before {
                    background: url(../imgs/icons/#{$icon}.svg) 0 50% no-repeat;
                    background-size: contain;
                }
            }
            
        }
        &__body {
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s;

            &_item {
                @include price-list-item;
            }

            .btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15px 0 22px;
            }
            a.link {
                font-size: 14px;
                text-decoration: underline;
                text-align: center;
                margin-bottom: 30px;
                cursor: pointer;
            }
        }
    }
    .show-more {
        font-size: 16px;
        color: #41559B;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 30px auto 0;
        justify-content: center;

        &::after {
            content: "";
            display: block;
            margin-left: 10px;
            margin-top: 7px;
            width: 18px;
            height: 7px;
            background: url(../imgs/icons/blue-line-arrow-down.svg) 0 0 no-repeat;
            background-size: contain;
            transition: transform .3s;
        }

        &.active::after {
            transform: rotate(180deg);
        }
    }
}

.cost-calculation {
    background-color: #fff;
    padding: 102px 20px 30px;
    z-index: 13;
    margin-top: -72px;

    h1 { margin: 0 0 25px; }
    p {margin: 0 0 30px;}

    .form {
        .fields {
            display: flex;
            flex-direction: column;

            .wrapper {
                position: relative;
                margin-bottom: 15px;

                &.error {
                    input, textarea {
                        border-color: #db0000;
                        margin-bottom: 15px;
                    }
                    .select-field {
                        margin-bottom: 15px;
                        &__header {
                            border: 1px solid #db0000;
                        }
                    }
                }
                span {
                    display: block;
                    position: absolute;
                    left: 20px;
                    bottom: -5px;
                    color: #db0000;
                    font-size: 12px;
                }
            }

            

            &:last-of-type {
                align-items: center;
                margin-top: 30px;

                p { text-align: center; font-size: 12px; }
                a {text-decoration: underline;}
            }
        }
    }
}

.other-problems {
    margin-top: -72px;
    padding: 102px 20px 30px;
    background-color: #f9f9f9;
    z-index: 14;

    h1 {margin: 0 0 25px;}

    &__list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: max-height .3s;

        &_item {
            background-color: #fff;
            box-shadow: 0px 7px 15px rgba(164, 164, 164, 0.15);
            border-radius: 10px;
            margin-bottom: 10px;

            &__header {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 60px;
                font-size: 14px;

                &::before {
                    content: "";
                    display: block;
                    width: 21px;
                    height: 25px;
                    margin-right: 15px;
                }

                $problem_icons: coffee-machine, tv, other;
                @each $icon in $problem_icons {
                    &.#{$icon}::before {
                        background: url(../imgs/icons/#{$icon}.svg) 0 50% no-repeat;
                        background-size: contain;
                    }
                }
            }
            &__body {
                padding: 5px 35px 25px;
                display: flex;
                flex-direction: column;

                p:first-of-type {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 14px;
                    margin: 0 0 15px;

                    span { color: #41559B; font-family: "Gilroy-Medium";}
                }
                p.description {
                    font-size: 12px;
                    color: #707070;
                    font-family: "Gilroy-Medium";
                    margin: 0 0 25px;
                    line-height: 125%;
                }


                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    width: 210px;
                    margin: 0 auto;
                    font-size: 16px;
                }
            }

            &:last-of-type {margin-bottom: 0;}
        }
    }

    .show-more {
        font-size: 16px;
        color: #41559B;
        text-align: center;
        display: flex;
        flex-direction: row;
        margin: 30px auto 0;
        justify-content: center;

        &::after {
            content: "";
            display: block;
            margin-left: 10px;
            margin-top: 7px;
            width: 18px;
            height: 7px;
            background: url(../imgs/icons/blue-line-arrow-down.svg) 0 0 no-repeat;
            background-size: contain;
            transition: transform .3s;
        }

        &.active::after {
            transform: rotate(180deg);
        }
    }
}

/*  Modals */
.modal {
    .close-btn {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 33px;
        right: 15px;
        font-size: 30px;
        line-height: 14px;
        cursor: pointer;
    }
    &.price-list-modal {
        min-width: 345px;
        width: 70%;
        padding: 38px 23px 45px;
        
        .price-list-modal__header {
            p {
                font-size: 18px;
                margin: 0 0 40px;
                display: flex;
                flex-direction: row;

                &::before {
                    content: "";
                    display: block;
                    width: 18px;
                    height: 25px;
                    margin-right: 15px;
                }

                $problem_icons: switch-off, flow, noise, without-water, without-rotate;
                
                @each $icon in $problem_icons {
                    &.#{$icon}::before {
                        background: url(../imgs/icons/#{$icon}.svg) 0 50% no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        .price-list-modal__body {
            margin-bottom: 40px;
            overflow-y: scroll;
            max-height: 312px;
            padding-right: 20px;

            .item {
                @include price-list-item;
            }

            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background-color: #f2f2f2;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #41559B;
            }
        }

        .btn {
            width: 210px;
            height: 50px;
            margin: 0 auto;
            font-size: 16px;
        }
    }

    &.info-modal {
        min-width: 345px;
        max-width: 500px;
        width: 70%;
        padding: 38px 23px 45px;

        h3 {
            margin-top: 0;
            text-align: center;
        }
        p {
            text-align: center;
        }
        .btn {margin: 0 auto;}
        ul {
            list-style: none;

            li {
                line-height: 160%;
                margin-bottom: 20px;
                
                &::before {
                    content: "\2022"; 
                    color: #41559B;
                    font-weight: bold;
                    display: inline-block;
                    font-size: 20px;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
    }

    &.cta-modal {
        padding: 75px 22px;
        max-width: 555px;
        width: 70%;
        min-width: 345px;

        h3 {
            font-size: 22px;
            margin: 0 auto 40px;
            text-align: center;
            width: 300px;
        }
        &>p {
            text-align: center;
        }
        .btn {margin: 0 auto;}
        .form {
            max-width: 300px;
            margin: 0 auto;
            .fields {
                display: flex;
                flex-direction: column;
    
                .wrapper {
                    position: relative;
                    margin-bottom: 15px;
    
                    &.error {
                        input, textarea {
                            border-color: #db0000;
                            margin-bottom: 15px;
                        }
                        .select-field {
                            margin-bottom: 15px;
                            &__header {
                                border: 1px solid #db0000;
                            }
                        }
                    }
                    span {
                        display: block;
                        position: absolute;
                        left: 20px;
                        bottom: -5px;
                        color: #db0000;
                        font-size: 12px;
                    }
                }
            }
            .actions {
                p {
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
        .close-btn {
            top: 22px;
            right: 22px;
        }
    }
}
/* End modals */

@media only screen and (min-width: 600px) {
    .main-block {
        .content .for-swap {
            .services .service div {
                max-width: 300px;
            }
            .btn {
                margin-left: 0;
            }
        }
        .img {
            left: 300px;
        }
    }
    .reviews__list__item {
        min-height: 200px;
    }
    .reviews {
        h1 .btn {
            height: 50px;
            width: 220px;
            border-radius: 10px;
            
            span {
                display: block;
                font-size: 16px;
                color: #41559B;
                margin-left: 12px;
                font-weight: 600;
                line-height: 125%;
            }

            &::before {font-weight: 500;margin-left: -12px;}

            &:hover {
                &::before, span {
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
    .btn { font-size: 18px; }

    header {
        height: 90px;
        padding: 23px 35px;
        z-index: 20;

        .call-me {
            background-image: none;
            background-color: rgba(0,0,0,0);
            height: 40px;
            width: 166px;
            border: 2px solid #41559B;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40px;
            transition: background-color .3s;

            span {
                display: inline;
                color: #41559B;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.02em;
                transition: color .3s;
            }

            &:hover {
                background-color: #41559B;
                span { color: #fff; }
            }
        }

        .work-time {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: 28px;
                height: 24px;
                background: url(../imgs/icons/work-time.svg) 0 0 no-repeat;
                background-size: contain;
                position: absolute;
                top: 10px;
                left: -45px;
            }

            p, span {
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                text-align: right;
                margin: 0;
            }
            p {
                color: #363036;
                margin-bottom: 5px;
            }
            span {
                color: #41559B;
                font-size: 20px;
                text-align: left;
            }
        }
    }

    .main-block {
        padding: 130px 35px 50px 35px;

        .content {
            h1 { font-size: 30px; }
        }

        .img {
            width: 561px;
            height: 412px;
            left: 42%;
        }
    }

    .our-services {
        margin-top: -90px;
        padding: 140px 35px 60px;

        h1 { margin: 0 0 50px 0; }
        .cards {
            margin: 0 -5.5px;

            .card {
                width: calc(33.33% - 11px);
                height: 145px;

                i {margin-bottom: 15px;}
                p {max-width: 140px;}
            }
        }
    }

    .price-list {
        margin-top: -90px;
        padding: 130px 35px 40px;
        background-color: #fff;

        h1 {margin-bottom: 40px;}

        .list {
            padding: 0;
            position: relative;
            .price-list-item {
                padding: 0 30px;
                border-right: 1px solid #f2f2f2;
            }

            .alice-carousel__dots {
                display: none;
            }
    
            .alice-carousel__prev-btn, .alice-carousel__next-btn {
                display: block;
                position: absolute;
                width: 36px;
                height: 100%;
                top: 0;
                padding: 0;
                background-color: #fff;
                display: flex;
                justify-content: center;

                &-wrapper {
                    display: flex;
                    justify-content: center;
                }
                &-item span {
                    position: absolute;
                    top: 35%;

                    &::after {
                        content: "";
                        display: block;
                        width: 15px;
                        height: 35px;
                    }
                }
            }
            .alice-carousel__prev-btn {
                left: -20px;

                &-item span::after {
                    background: url(../imgs/icons/line-arrow-left.svg) 0 0 no-repeat;
                    background-size: contain;
                }
            }
            .alice-carousel__next-btn {
                right: -20px;

                &-item span::after {
                    background: url(../imgs/icons/line-arrow-right.svg) 0 0 no-repeat;
                    background-size: contain;
                }
            }
        }
    }

    .about-us {
        margin-top: -90px;
        padding: 140px 35px 50px;

        .for-swap {
            .gallery {
                margin: 0;
                position: relative;
                height: 453px;
                margin-bottom: 80px;

                .img {
                    height: 453px;
                }

                .alice-carousel__prev-btn, .alice-carousel__next-btn {
                    display: block;
                    position: absolute;
                    top: 40%;
                    width: 60px;
                    height: 50px;
                    background-color: #41559B;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
                    border-radius: 0px 10px 10px 0px;
                    padding: 0;

                    &-wrapper, &-item, &-item span, &-item span::after {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                    }

                    &-item span {
                        display: block;
                        &::after {
                            content: "";
                            display: block;
                            background: url(../imgs/icons/white-arrow-left.svg) 45% 50% no-repeat;
                        }
                    }
                }
                .alice-carousel__next-btn {
                    transform: rotate(-180deg);
                    right: 0;
                }
            }
        }
    }

    .brands {
        padding: 40px 40px 50px;
        z-index: 12;
        background-color: #fff;

        &__list {
            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .carousel {display: none;}

            .simple-list {
                display: block;
            }
            &__item {
                width: 16.66%;
            }
        }
        
    }

    .reviews {
        margin-top: -90px;
        padding: 150px 40px 50px;
        z-index: 11;

        h1 {margin-bottom: 50px;}

        &__list__item {
            min-height: 319px;
            p {font-size: 14px;}
        }

        .alice-carousel__prev-btn {
            right: calc(50% + 2.5px);
        } 
        .alice-carousel__next-btn {
            left: calc(50% + 2.5px);
        }
    }

    .contact-us-form {
        padding: 65px 35px 90px;
        
        .card-container {
            background-color: #fff;
            box-shadow: 0px 0px 20px rgba(103, 103, 103, 0.15);
            border-radius: 10px;

            .form {
                padding: 34px 36px 44px;
                h1 {margin-bottom: 20px;}
                &>p {
                    line-height: 24px; 
                    margin-bottom: 40px; 
                    max-width: 423px;
                    font-size: 14px;
                }
    
                .fields {
                    display: flex;
                    flex-direction: row;
    
                    .wrapper {min-width: 300px; margin-right: 25px;}
                }
    
                .actions {
                    display: flex;
                    flex-direction: row;
    
                    .btn {margin-right: 25px;}
                    p {
                        text-align: left; 
                        font-size: 12px;
                        height: 60px;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }

    footer {
        height: 179px;
        padding: 0 35px;
        align-items: center;

        .information {
            display: flex;
            flex-direction: row;
            align-items: center;

            p:first-child {
                display: block;
                font-size: 14px;
                margin-right: 34px;
            }
            p:last-child {
                font-size: 14px;
                text-align: center;

                span {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }

    .what-problem {
        margin-top: -90px;
        padding: 140px 35px 50px;

        h1 { margin-bottom: 50px; }

        .problems {
            transition: max-height .3s;
            overflow-y: hidden;
            padding: 0 6px;
            margin-left: -6px;
            margin-right: -6px;

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 0;

                li {
                    width: calc(50% - 12px);
                    margin: 0 6px 12px;
                    display: flex;
                    flex-direction: column;

                    &:last-of-type { margin: 0 6px 12px; }
                }
            }
            &__header {
                font-size: 18px;
                min-height: 55px;
                justify-content: center;
                &::before {margin-left: 0;}
                &::after { display: none; }
            }
            &__body {
                max-height: initial;
                height: 100%;

                &_item:last-of-type {margin-bottom: 15px;}

                p { font-size: 14px; }
                .btn {
                    margin-top: auto; 
                    height: 50px; 
                    width: 210px;
                    font-size: 16px;
                }
            }

            //&.show {max-height: 1230px;}
        }
    }

    .cost-calculation {
        margin-top: -90px;
        padding: 140px 35px 50px;

        h1 {margin-bottom: 40px;}
        &>p {
            max-width: 510px;
            font-size: 15px;
            padding-left: 93px;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 73px;
                height: 1px;
                background-color: #41559B;
                position: absolute;
                top: 7px;
                left: 0;
            }
        }

        .form {
            padding: 40px 35px;
            background-color: #fff;
            box-shadow: 0px 0px 20px rgba(103, 103, 103, 0.15);
            border-radius: 10px;

            .fields {
                flex-direction: row;
                margin-left: -12.5px;
                margin-right: -12.5px;

                .wrapper, button.btn, p {
                    width: 50%;
                    margin: 0 12.5px 30px;
                }
                &:last-of-type {
                    flex-direction: row-reverse;
                    margin-top: 0;
                    p, input {margin-bottom: 0;}
                }
            }
        }
    }

    .other-problems {
        margin-top: -90px;
        padding: 140px 35px 50px;

        h1 { margin-bottom: 50px; }

        .other-problems__list {
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -6px;
            padding: 0 6px;

            &_item {
                width: calc(50% - 12px);
                margin: 0 6px 12px;

                &__header {
                    font-size: 18px;
                    min-height: 80px;
                }
                &__body {
                    padding: 20px 37px 40px;

                    p:first-of-type {
                        margin-bottom: 20px;
                        span {font-size: 16px;}
                    }
                    p.description {margin-bottom: 40px;}
                }
            }
        }
    }

    .modal {
        &.price-list-modal .item p {
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .phone-fixed-button {display: none;}
    .main-block {
        .content {
            h1 { margin-bottom: 30px; font-size: 38px; }
            .descr {
                display: block;
                max-width: 500px;
                padding-left: 60px;
                position: relative;
                font-size: 18px;
                margin-bottom: 60px;
                line-height: 28px;

                &:after {
                    content: "";
                    display: block;
                    width: 40px;
                    height: 1px;
                    background-color: #363036;
                    position: absolute;
                    left: 0;
                    top: 10px;
                }
            }
            .for-swap {
                display: flex;
                flex-direction: column-reverse;

                .services {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #41559B;
                    border-radius: 20px;
                    margin-bottom: 35px;
                    padding: 18px 36px;

                    .service {
                        margin-bottom: 0;
                        margin-right: 15px;

                        &:last-of-type {margin-right: 0;}
                    }
                }
                .btn {
                    margin-bottom: 95px;
                }
            }
        }
        .img {
            top: 140px;
            left: 55%;
        }
    }

    .about-us {
        .for-swap {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 90px;

            .gallery {
                width: 547px;
                margin-right: 20px;
            }
        }
        .virtues {
            display: flex;
            flex-direction: row;

            &__item {
                margin-right: 30px;
                width: 33.33%;

                h3 {
                    margin-bottom: 25px; 
                    height: 30px; 
                    display: flex;
                    align-items: center;
                }

                p {margin: 0;}
            }
        }
    }

    .modal {
        &.price-list-modal {
            max-width: 765px;
            padding: 40px 25px 40px 40px;

            .price-list-modal__header {margin-bottom: 45px;}

            .price-list-modal__body {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-right: 25px;
                overflow-y: visible;

                .item {
                    width: calc(50% - 35px);

                    &:nth-of-type(2n + 1) {
                        margin-right: 35px;
                    }
                    &:nth-of-type(2n) {
                        margin-left: 35px;
                    }
                }
            }

            .close-btn { top: 20px; right: 20px; }
        }
    }
}

@media only screen and (min-width: 1200px) {
    p { font-size: 18px; }

    header {
        padding: 23px 40px;
    }

    .main-block {
        padding: 160px 120px 60px 120px;
        
        .content { max-width: 1200px; margin: 0 auto; }
    }

    .our-services {
        padding: 140px 120px 80px;
        .cards, h1 {
            max-width: 1200px; 
            margin-left: auto; 
            margin-right: auto;
        }
    }

    .price-list {
        padding: 140px 120px 50px;

        .list {
            .alice-carousel {
                margin: 0 -37px;
            }  
            .price-list-item {
                padding: 0 37px;
                .cells .cell p {max-width: 220px;}
            }

            .alice-carousel__prev-btn, .alice-carousel__next-btn {
                width: 56px;
            }

            .alice-carousel__prev-btn {
                left: -50px;
            } 
            .alice-carousel__next-btn {
                right: -50px;
            }
        }
    }

    .about-us {
        padding: 140px 120px 60px;

        h1, .for-swap, .virtues {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .for-swap .gallery {
            margin-right: 45px;
        }
        .virtues {
            &__item {
                margin-right: 60px;
            }
        }
    }

    .brands {
        padding: 50px 120px;

        h1, &__list {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

        &__list__item {
            height: 32px;
            cursor: pointer;
            transition: filter .3s;
            background-size: initial !important;
            
            &:hover {
                filter: none;
            }
            &.lex {
                background-size: contain !important;
            }
        }
    }

    .reviews {
        padding: 140px 120px 50px;

        &__list__item {
            min-height: 345px;
        }
    }

    .contact-us-form {
        padding: 140px 120px 50px;

        .card-container {
            .form {
                padding: 40px 76px 50px;
            }
        }
    }

    footer {
        padding-left: 120px;
        padding-right: 120px;
    }

    .what-problem {
        padding: 146px 120px 50px;

        .problems {
            &__header {min-height: 75px;}
            &__body { 
                padding: 0 40px; 
                &_item:last-of-type {margin-bottom: 25px;}
            }
        }
    }

    .cost-calculation {
        padding: 146px 120px 50px;
        background: #fff url(../imgs/desktop/cost-calculation.png) 0 84% no-repeat;
        background-size: 40%;

        &>p, .form {margin-left: auto; max-width: 645px;}
    }

    .other-problems {
        padding: 146px 120px 50px;
    }
}

@media only screen and (min-width: 1360px) {
    header {
        padding: 23px 20px;
        .burger {
            display: none;
        }
        .number {
            display: block;
            color: #363036;
            font-family: "Gilroy-Bold";
            margin-left: 30px;

            p {
                font-size: 14px;
                margin: 0;
                line-height: 160%;
                span {font-size: 16px;}
            }
        }
        .call-me {
            height: 50px;
            width: 130px;
            margin-left: 30px;

            span {
                font-size: 14px;
            }
        }
        .work-time {
            margin-left: 80px;
            p, span {
                //font-size: 16px;
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            background-color: rgba(0,0,0,0);
            position: initial;
            width: initial;
            height: 100%;
            padding: 0;

            li {
                margin: 0 0 0 30px;
                width: 110px;
                padding: 0 0px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                cursor: pointer;
                border: 2px solid #41559B;
                transition: box-shadow .3s, background-color .3s;
                
                a {
                    font-size: 14px;
                    height: 100%;
                    line-height: 280%;
                    color: #41559B;
                }

                &:hover {
                    background-color: #41559B;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }

    .contact-us-form {
        .card-container {
            display: flex;
            flex-direction: row;
            .img {
                width: 423px;
                border-radius: 0 10px 10px 0;
                background: url(../imgs/desktop/contact-us-form.jpg) 0 0 no-repeat;
            }
        }
    }

    .cost-calculation {
        background-size: 38%;

        .form, p {max-width: 695px;}
    }

    .other-problems {
        .other-problems__list {
            margin: 0 -14px;
            padding: 0 14px;

            &_item {
                width: calc(33.33% - 28px);
                margin: 0 28px 20px 0;

                &:last-of-type {margin-right: 0;}
            }
        }
        .show-more {display: none;}
    }
}

@media only screen and (min-width: 1440px) {
    h1 {font-size: 36px;}

    header {
        padding: 23px 0px;
        justify-content: center;
        .logo::before {
            width: 130px;
            height: 55px;
        }
    }

    .our-services {
        .cards {
            justify-content: space-between;
            .card {
                width: 190px;

                &:first-child {margin-left: 0;}
                &:last-child {margin-right: 0;}
            }
        }
    }

    .price-list {
        padding: 140px 0 50px;
        h1, .list {max-width: 1200px; margin-left: auto; margin-right: auto;}
        .list .alice-carousel {width: 1274px;}
    }

    .reviews {
        h1, &__list {max-width: 1200px; margin-left: auto; margin-right: auto;}

        &__list .alice-carousel {margin: 0 -15px; }
    }

    .contact-us-form {
        .card-container {max-width: 1200px; margin-left: auto; margin-right: auto;}
    }

    footer {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }

    .what-problem {
        h1, .problems, .show-more {max-width: 1200px; margin-left: auto; margin-right: auto;}
        .problems {
            padding: 0 14px;

            ul {
                margin-left: -14px;
                margin-right: -14px;
                li {
                    width: calc(33.33% - 28px);
                    margin: 0 28px 28px 0;

                    &:last-of-type {margin: 0 28px 28px 0;}
                }
            }

            &__body {
                .btn {
                    border: 2px solid #41559B;
                    box-sizing: border-box;
                    border-radius: 10px;
                    background-color: #fff;
                    color: #41559B;
                    transition: background-color .3s, color .3s;
                    box-shadow: none;

                    &:hover {
                        background-color: #41559B;
                        color: #fff;
                    }
                }
            }
        }
    }

    .cost-calculation {
        background-position: calc(50% - 430px) 84%;
        background-size: initial;

        h1 {max-width: 1200px; margin-left: auto; margin-right: auto;}
        .form, &>p {margin-right: calc(50% - 600px); max-width: 745px;}
    }

    .other-problems {
        h1, .other-problems &__list {max-width: 1200px; margin-left: auto; margin-right: auto;}
    }
}